@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
    width: 1160px;
    margin: auto;
}
.Lorem_box {
    padding-top: 129px;
    padding-bottom: 168px;
    background-color: black;
    font-family: "Poppins", sans-serif;
}
.text_box {
    width: 826px;
    margin: auto;
}
.text_box2 {
    width: 545px;
    margin-top: 67px;
    margin-bottom: 46px;
}
.Lorem_text {
    color: white;
    font-weight: 600;
    font-size: 35px;
    text-align: center;
}
.Lorem_text1 {
    color: white;
    font-weight: 600;
    font-size: 30px;
}
.Lorem_text2 {
    color: white;
    margin-top: 32px;
}
.dots {
    position: absolute;
    transform: translateX(-325px) translateY(-67px); 
    z-index: 1;
}
.spidey {
    z-index: 2;
    position: relative;
}
.Lorem_img {
    position: relative;
}
.Lorem_box2 {
    background-image: url('src/assets/Images/db4d123c4b390965f684f22d4bf13849 1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.backg {
    background-color: #000000A6;
    backdrop-filter: 4px;
    padding: 93px 0px 93px 0px;
}
.Lorem_card {
    color: white;
    font-weight: 500;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;
}
.Lorem_wrapper2 {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    margin-top: 100px;
}
.Lorem_wrapper {
    width: 826px;
    margin: auto;
    text-align: center;
    color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}