@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
header {
    background-color: #050301;
    font-family: "Poppins", sans-serif;
    padding-top: 44px;
}
main {
    font-family: "Poppins", sans-serif;
}
.container {
    width: 1320px;
    margin: auto;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    display: flex;
    gap: 88px;
}
ul li a {
    color: white;
}
.nav_box {
    display: flex;
    gap: 36px;
    align-items: center;
}
.nav_btn {
    padding: 10px 28px;
    background-color: #FA9021;
    border-radius: 6px;
    color: white;
}
.hdr_text {
    font-size: 33px;
    font-weight: 600;
    margin: 14px 0px ;
}
.hdr_wrapper {
    text-align: center;
    margin-top: 110px;
}
.span {
    color: #DC7000;
}
.input {
    background-color: #1C140F;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px 180px 10px 59px;
    margin-top: 74px;
}
.inp {
    width: 400px;
    position: relative;
    margin: auto;
}
.lupa {
    position: absolute;
    transform: translateX(-175px) translateY(-25px);
}
.main_wrapper {
    display: flex;
    justify-content: center;
    gap: 72px;
    width: 1278px;
    margin-top: 103px;
}
.main_wrapper_left {
    width: 587px;
    display: flex;
    flex-direction: column;
    gap: 90px;
}
.line {
    background-color: #A5A5A5;
    height: 1px;
}
.main_btn {
    color: white;
    padding: 9px 30px;
    background-color: #2351F5;
}.main_duo {
    display: flex;
    margin: 21px 0px;
    align-items: center;
    gap: 20px;
}
.main_text {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 32px;
}
.main_wrapper_right {
    width: 618px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.main_card1{
    display: flex;
    gap: 31px;
    align-items: center;
}
.main_text1 {
    font-weight: 600;
    font-size: 23px;
}
.main_btn1 {
    color: white;
    padding: 7px 26px;
    background-color: #FF8484;
}
.main_btn2 {
    color: white;
    padding: 7px 26px;
    background-color: #2351F5;
}
.main_btn3 {
    color: white;
    padding: 7px 26px;
    background-color: #FF7C32;
}
.main_btn4 {
    color: white;
    padding: 7px 26px;
    background-color: #2351F5;
}
.main_btn5 {
    color: white;
    padding: 7px 26px;
    background-color: #23A54F;
}
.main_btn6 {
    color: white;
    padding: 7px 26px;
    background-color: #2351F5;
}
.main_btn7 {
    color: white;
    padding: 7px 26px;
    background-color: #9921C3;
}
.main_sec {
    width: 1170px;
    margin: 73px auto;

}
.main_box {
    margin-top: 74px;
    width: 1170px;
    display: flex;
    padding: 41px 53px;
    background-color: #1C140F;
    border-radius: 15px;
    align-items: center;
}
.main_inp {
    padding: 14px 210px 14px 20px;
    border-radius: 8px;
    border: none;
    outline: none;
}
.main_but {
    background-color: #DC7000;
    border-radius: 8px;
    color: white;
    padding: 8px 15px;
    position: absolute;
    transform: translateX(-89px) translateY(5px);
}
.main_inpBox {
    position: relative;
}
footer {
    padding-top: 148px;
}
.f_cont {
    width: 1219px;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 80px;
}
.f_box {
    display: flex;
    gap: 130px;
}
.f_line {
    background-color: #D2D2D2;
    height: 1px;
    margin-top: 53px;
    margin-bottom: 29px;
}
.f_img {
    display: flex;
    align-items: end;
}