.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
}

.header__link {
    font-weight: 700;
    font-size: 20px;
    line-height: 155%;
    color: #e87d0e;
}

.header__title {
    font-weight: 700;
    font-size: 50px;
    margin-top: 17px;
    line-height: 155%;
    color: #fff;
}

.header__description {
    font-weight: 500;
    font-size: 16px;
    line-height: 200%;
    color: #fff;
    margin-top: 25px;
    margin-bottom: 50px;
}

.header__btn {
    font-weight: 500;
    font-size: 16px;
    border-radius: 40px;
    padding: 15px 30px; 
    color: #fff;
    background: linear-gradient(113deg, #fa8305 0%, #fb9e3c 100%);
}
.header__btn:hover {
  box-shadow: 0 0 20px rgba(251, 158, 60, 0.6);
  transform: scale(1.05);
}